html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 20px;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #1F2937; 
    min-width: 60px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 6px;
    border: 3px solid #1F2937;
    cursor: pointer;
}   

#container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 10px;
}

.display {
    flex: 1;
    min-height: 40px;
    max-height: 40px;
    border: 3px solid #1F2937;
}

.options, .row {
    display: flex;
    gap: 6px;
}

.options {
    flex-flow: column-reverse;
}

.equal, .clear-entry, .all-clear {
    flex-grow: 1;
}