@font-face {
    font-family: "FiraCode Nerd Font Mono SemBd";
    src: url("fonts/FiraCodeNFM-SemBd.woff2") format("woff2"),
        url("fonts/FiraCodeNFM-SemBd.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
    font-family: "FiraCode Nerd Font Mono SemBd";
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    color: #1F2937; 
    min-width: 60px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 6px;
    border: 3px solid #1F2937;
    cursor: pointer;
}   

#header {
    font-size: 26px;
}

#container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 10px;
}

#footer {
    font-size: 20px;
}

.display {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #E5E7EB;
    min-height: 40px;
    max-height: 40px;
    font-size: 25px;
    border-radius: 6px;
    border: 3px solid #1F2937;
}

.content {
    align-self: flex-end;
    margin-top: auto;
}

.options, .row {
    display: flex;
    gap: 6px;
}

.options {
    flex-flow: column-reverse;
}

.equal {
    flex-grow: 1;
}